DATABASE_URL="postgres://chat:drowssap@localhost/chat"
REDIS_URL="redis://localhost:6379/?protocol=resp3"

SESSION_SIGNER="JcXrxXSUb1XRET/ewRkj7C6ntiVxiDN82j5rzpr43kWzSkH8AhqYmRMjKgOV/ErwVpuLn14OhA0aO7ZqkAjUWg=="
PUBSUB_SIGNER="w8WXZvNLcUA/CSMocY9+wQDdd+utTnXmZLHa9HJEyCo="
